.modal-request-extend {
    .form-request-extend {
      .modal-body {
        padding: 0;
      }
  
      .container-request-extend {
        // border: 1px dashed var(--border-color);
        padding: 1.6rem;
        max-height: 50rem;
        overflow: auto;
        
        .body-content{
            // border: 1px solid;
            border-radius: 8px;
            // background-color: #F8F8F8;
            // padding: 1rem 1.4rem 1rem 1.4rem;
            
        }
      }
    }
  }
  