.modal-send-summary-clarification {
    .form-send-summary-clarification {
      .modal-body {
        padding: 0;
      }
  
      .container_send-summary-clarification {
        // border: 1px dashed var(--border-color);
        padding: 1.6rem;
        max-height: 50rem;
        overflow: auto;
        
        .body-content{
            // border: 1px solid;
            border-radius: 8px;
            // background-color: #F8F8F8;
            // padding: 1rem 1.4rem 1rem 1.4rem;
          .button-show-history{
            color: #ED1B34;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  