.modal-add-holiday {
  .modal-dialog{
    width: 432px;
  }
    .form-add-holiday {
      .modal-body {
        padding: 0;
      }
  
      .list-form-group {
        display: flex;
        // flex-direction: column;
        padding: 1.6rem;
        max-height: 40rem;
        justify-content: space-between;
        // overflow: auto;

        flex-wrap: wrap;
        gap: 1.2rem 0;

        .form-group {
            &:first-child {
              width: 100%;
            }
  
            &:nth-child(2){
              width: 100%;
            }
            width: calc(50% - 0.3rem);
            .radio-list {
              // margin-top: 3.3rem;
              .form-group {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 0 2rem;
    
                .base-radio {
                  margin-top: 0;
                }
              }
            }
          }
  
          .field__special {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0 0.5rem;
  
              .base-select {
                flex: 1;
              }
          }
      }
  
    //   .list-field-item {
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 1.2rem 3.2rem;
  
       

    //   }

    }
  }
  